<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <div><input type="text" name="name" placeholder="Your Name" required></div>
    <div><input type="email" name="email" placeholder="Your Email" required></div>
    <div><input type="password" name="password" placeholder="Enter Password" required></div>
    <div><input type="password" name="confirm_password" placeholder="Confirm Password" required></div>
    <div><input type="submit" value="Sign Up"></div>
</form>


<p>
    <a href="/users/auth/google">Sign Up with Google</a>
</p>